.footerSeal {
    position: relative;
    float: right;
}
.footerSeal > img {
    position: absolute;
    bottom: 5px;
    right: 5px;
}
body {
    width: 100%;
    height: 100%;
    font-family: 'Oxygen', sans-serif;
    color: #fff;
    background-color: #000;
}
section#contact {
    padding-bottom: 250px;
}
.bgCircle {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-image: url(../img/nikhil.jpg);
    display: inline-block;
    margin-left: 10px;
}
.brand-heading {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    text-align: left;
    font-size: 48px;
    font-weight: 400;
}
.intro-text {
    font-size: 20px;
    text-align: right;
    float: right;
}
.bg-img2 {
    background-image: url("../img/nikhil2.jpg");

}